<form id="email_signup" class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_Pqkdze" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="Pqkdze">
  <div class="klaviyo_field_group">
    <label for="k_id_email">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button">Subscribe</button>
  </div>
</form>
<style type="text/css">
.klaviyo_styling.klaviyo_condensed_embed_Pqkdze,
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze {
  font-family: "Helvetica Neue", Arial;
}.klaviyo_styling.klaviyo_condensed_embed_Pqkdze label,
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze label {
  color:#222;
}.klaviyo_styling.klaviyo_condensed_embed_Pqkdze input[type=text],
.klaviyo_styling.klaviyo_condensed_embed_Pqkdze input[type=email],
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze input[type=text],
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze input[type=email] {
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_Pqkdze .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze .klaviyo_submit_button {
  background-color:#000000;
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_Pqkdze .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_condensed_embed_Pqkdze .klaviyo_submit_button:hover {
  background-color:#000000;
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true,
          extra_properties: {
            $source: 'Newsletter'
            } 
  });
</script>

