<dl>
    <dt>Best For:</dt><dd>Powder, All Mountain</dd>
    <dt>Dimensions:</dt><dd>136-114-125mm</dd>
    <dt>Flex:</dt>
    <dd>
      <div class="row">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="margin-left: 12%; width: 15%"></div>
            <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            <div class="progress-bar progress-bar-warning" style="width: 15%"></div>
          </div>
        </div>
        <div class="col-xs-6 text-left">Soft</div>
        <div class="col-xs-6 text-right">Stiff</div>
      </div>
    </dd>
    <dt>Terrain:</dt>
    <dd>
      <div class="row">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="margin-left: 20%; width: 20%">
              <span class="sr-only">20% Freeride</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 60%">
              <span class="sr-only">40% Powder</span>
            </div>
          </div>
        </div>
        <div class="col-xs-4 text-left">Park</div>
        <div class="col-xs-4 text-center">Freeride</div>
        <div class="col-xs-4 text-right">Powder</div>
      </div>
    </dd>
  </dl>