
  <dl>
    <dt>Best For:</dt><dd>All Mountain, Park, Powder</dd>
    <dt>Dimensions:</dt><dd>112-98-104mm</dd>
    <dt>Flex:</dt>
    <dd>
      <div class="row">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="margin-left: 12%; width: 15%"></div>
            <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            <div class="progress-bar progress-bar-warning" style="width: 15%"></div>
          </div>
        </div>
        <div class="col-xs-6 text-left">Soft</div>
        <div class="col-xs-6 text-right">Stiff</div>
      </div>
    </dd>
    <dt>Terrain:</dt>
    <dd>
      <div class="row">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 10%">
              <span class="sr-only">10% Park</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 70%">
              <span class="sr-only">70% Freeride</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: 10%">
              <span class="sr-only">10% Powder</span>
            </div>
          </div>
        </div>
        <div class="col-xs-4 text-left">Park</div>
        <div class="col-xs-4 text-center">Freeride</div>
        <div class="col-xs-4 text-right">Powder</div>
      </div>
    </dd>
  </dl>
