<!-- snippets/questions-contact-us.liquid -->

<p class="contact-us-link">Questions? <a class="contact-us-link" href="#" onclick="parent.LC_API.open_chat_window({source:'minimized'});">Contact Us</a></p>
