<!-- /snippets/sidebar.about.liquid -->
{% comment %}

	Side navigation for 'About' pages.

{% endcomment %} 


	

{% if settings.about_linklist %}
	{% assign links = linklists[settings.about_linklist] %}

	<div class="card">
		<div class="card-block">
			<h4 class="card-title">About</h4>
			<ul class="nav nav-list">

			{% for link in links.links %}
				<li class="nav-item">
					<a href="{{ link.url }}" class="nav-link {% if link.active %}active{% endif %}">{{ link.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	
{% endif %} 
{% assign in_page_nav = 'page-' | append: page.handle %}
{% unless linklists[in_page_nav] == blank %}
	<div id="PageNavContainer" class="fixedsticky">
		<div class="card">
			<div class="card-block" id="PageNav">
				<ul class="nav nav-list">
					{% for link in linklists[in_page_nav].links %}
						<li class="nav-item">
							<a href="{{ link.url }}" class="nav-link {% if link.active %}active{% endif %}">{{ link.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<script>
	(function( $ ) {
		$(function() {
			$(document).on('beforeDrawerOpen.timber', function(o) {
				console.log('drawer opening', o);
			});
			FixedSticky.tests.sticky = false;
			$( '#PageNavContainer' ).fixedsticky();
			$('.is-moved-by-drawer').css('transform: none');
			$('body').css('position','relative').scrollspy({ target: '#PageNav' })
		});
	}( jQuery ));
	</script>
{% endunless %}

