<table class="table table-striped table-hover table-bordered">
	<thead class="thead-inverse">
		<tr>
			<th>Skier Height (Feet' / Inches")</th>
			<th>Skier Height (Centimeters)</th>
			<th>Suggested Ski Length (Centimeters)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4'4"</td>
			<td>132cm</td>
			<td><span class="size-min">115</span>-<span class="size-max">130cm</span></td>
		</tr>
		<tr>
			<td>4'6"</td>
			<td>137cm</td>
			<td><span class="size-min">125</span>-<span class="size-max">140cm</span></td>
		</tr>
		<tr>
			<td>4'8"</td>
			<td>142cm</td>
			<td><span class="size-min">130</span>-<span class="size-max">145cm</span></td>
		</tr>
		<tr>
			<td>4'10"</td>
			<td>147cm</td>
			<td><span class="size-min">135</span>-<span class="size-max">150cm</span></td>
		</tr>
		<tr>
			<td>5'</td>
			<td>152cm</td>
			<td><span class="size-min">140</span>-<span class="size-max">155cm</span></td>
		</tr>
		<tr>
			<td>5'2"</td>
			<td>158cm</td>
			<td><span class="size-min">145</span>-<span class="size-max">165cm</span></td>
		</tr>
		<tr>
			<td>5'4"</td>
			<td>163cm</td>
			<td><span class="size-min">150</span>-<span class="size-max">170cm</span></td>
		</tr>
		<tr>
			<td>5'6"</td>
			<td>168cm</td>
			<td><span class="size-min">155</span>-<span class="size-max">175cm</span></td>
		</tr>
		<tr>
			<td>5'8"</td>
			<td>173cm</td>
			<td><span class="size-min">160</span>-<span class="size-max">180cm</span></td>
		</tr>
		<tr>
			<td>5'10"</td>
			<td>178cm</td>
			<td><span class="size-min">165</span>-<span class="size-max">185cm</span></td>
		</tr>
		<tr>
			<td>6'</td>
			<td>183cm</td>
			<td><span class="size-min">170</span>-<span class="size-max">190cm</span></td>
		</tr>
		<tr>
			<td>6'2"</td>
			<td>188cm</td>
			<td><span class="size-min">175</span>-<span class="size-max">195cm</span></td>
		</tr>
		<tr>
			<td>6'4"</td>
			<td>193cm</td>
			<td><span class="size-min">180</span>-<span class="size-max">200cm</span></td>
		</tr>
	</tbody>
</table>