<!-- /templates/page.liquid -->
{% comment %} Markup based on Timber 2.1.2 
			{% include 'klaviyo-mail' %}{% endcomment %}

<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<header class="page-header">
			    <h1 class="page-title">{{ page.title }}</h1>
			</header>

			{% include 'rte' with page.content %}
		</div>
	</div>
</div>

<script>
$(document).ready(function(){

$('.page-title').html("sdaadasd");
}
  </script>

