<!-- /templates/page.customer-service.liquid -->
{% comment %} Markup based on Timber 2.1.2 {% endcomment %}


<div class="container">
	<div class="row">
		<div class="col-sm-9 push-sm-3">
			<header class="page-header">
	    		<h1 class="page-title">{{ page.title }}</h1>
			</header>
			{% include 'rte' with page.content %}
		</div>
		<div class="col-sm-3 pull-sm-9">
			<aside class="sidebar sidebar-customer-service">
				{% include 'sidebar.help' %}
			</aside>
		</div>
	</div>
</div>

<style>
.bread-promo{
      position: relative;
    border: 2px solid black;
    background-color:#FFE600;
    text-align: center;
    padding: 8px;
    font-weight: 700;
    text-transform: uppercase;
    width: 50%;
    margin: 20px 0px;

}

 .bread-promo:hover{
    color:#FFE600;
    background-color:black;
 }

</style>
